*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0b1d21;
}

.item{
    background-color: #078a85;
    width: 150px;
    height: 150px;
    margin: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#blocos{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}